body {
    margin:0;
  }

P, h2, h4, h5 {
  font-family:'Noto Sans', sans-serif;
}

h1 {
  font-family:'Mirza', cursive; 
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

h3 {
  font-family:'Mirza', cursive; 
  font-weight:300;
  letter-spacing: 2px;
  font-size:26px;
}
  .navigation {
    display: flex;
    width: 100%;
    background-color:#151515;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 2%;
  }

  .menuItem {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    }
    
    .menuItem > p {
    padding: 15px;
    }
  
header {
color: white;
}

.heroGrid {
    display: flex;
}

.heroImg {
  display: flex;
    height: 300px;
    margin-bottom: 5%;
    padding: 3%;
    width: 45%;
    justify-content: left;
}

.aboutInfo {
    height: 300px;
    padding-top: 50px;
    width:45%;
    padding-top: 50px;
    margin: 5%;
    padding-bottom: 30px;
    justify-content: right;
}

button {
    height: 40px;
    width: 140px;
    background-color: #984df7;
    color: white;
    text-shadow: 4px; 
    margin: 3%;
    border: 1px solid #f2f2f2;
}

button:hover {
  background-color: #BE8BFF;
}


.skillsBackground {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 5%;
  margin: 15%;
}

.mySkills {
  background-color: #BE8BFF ;
  border: 10px solid  #984df7;
  z-index: 3;
}

.mySkills > h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-weight:300;
  letter-spacing: 2px;
  font-size:30px;
  text-shadow: 2px 2px #151515;
}

.flexContainer{
margin-left: 3%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
width: 95%;
}

.skillBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3%;
  width: 200px;
}

.myWork {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.wave {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(151,71,255,1) 0%, rgb(190,39,255) 100%);
  font-family:'Noto Sans', sans-serif;
  color:white;
  font-weight:300;
  letter-spacing: 2px;
  font-size:30px;
  text-shadow: 2px 2px #151515;
}

.box {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.allProjects {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  width: 100%;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.box {
  display: flex;
  justify-content: center;
  width: calc(80% - 10px);
  margin: 5px;
  padding: 8px;
  border: 8px solid #984df7;
  box-sizing: border-box;
}

.box:last-child {
  margin: 0 0 0 5px;
  justify-content: center;
}

.outFront {
display: flex;
  height: 300px;
  margin-bottom: 5%;
  padding: 3%;
  width: 45%;
  justify-content: center;
}

.outFrontpic {
  height: 300px;
  padding-top: 50px;
  width:45%;
  padding-top: 50px;
  margin: 5%;
  justify-content: center;
}


footer {
  background-color:#151515;
    display: flex;
    width: 100%;
    color: white;
    display: inline-block;
    vertical-align: top;
    }

    .socialMedia {
        display: flex;
        width: 100%;
        flex-direction:row;
        justify-content: center;
        padding: 15px;
    }

.socialMedia > img {
    padding: 15px;
}

.bottomMenu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
        
.bottomMenu > p {
    padding: 10px;
        }

        @media (max-width: 960px) {
        .heroGrid {
        /* grid-template-rows: 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "heroImg"
        "content" */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: auto;
        }

        .menuItem > p {
          padding: 10px;
          }
        
        .heroImg {
          display: flex;
            height: 300px;
            width: 90%;
            justify-content: center;
        }
        
        .aboutInfo {
            height: 300px;
            padding-top: 50px;
            width:85%;
            padding-top: 50px;
            margin: 0 auto;
            justify-content: center;
        }
        
        .skillsBackground {
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          padding-top: 20%;
          margin: 5%;
        }

        .mySkills {
        /* grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Adobe"
        "Figma"
        "Miro" */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 100px;
        margin-top: 200px;
        ;
        }

.flexContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 95%;
}

#skillBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

        .myWork {
        /* grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "outFrontpic"
        "outFront"
        "foodApppic"
        "foodApp" */
        display: flex;
        flex-direction: column;
        justify-content: center;
        ;
        }};

        .waves {
          height:40px;
          min-height:40px;
        }
        .content {
          height:30vh;
        }